<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="sheet" action="/" method="post">
    
      <input type="text" name="name" value="" placeholder="Name">
      <!-- <input type="text" name="email" value="" placeholder="Email">
      <input type="date" name="birthday" value="" placeholder="Birthday">
      <select class="Jobs" name="jobs" value="" placeholder="">
        <option value="Graphic Designer"></option>
        <option value="Hamburgleur"></option>
        <option value="Heuttdooglier"></option>
        <option value="Frank Azar"></option>
      </select>
      <input type="password" name="password" value="" placeholder="password"> -->
      <button type="submit" name="submitButton"></button>


    </form>

  </body>
</html>
